/* Error: There is no module with the namespace "responsive".
 *   ,
 * 7 | /     @include responsive.max(300px){
 * 8 | |         display: none;
 * 9 | |     }  
 *   | '-----^
 *   '
 *   src/scss/pages/home/_hero.scss 7:5   @forward
 *   src/scss/pages/home/_index.scss 1:1  @forward
 *   src/scss/pages/_index.scss 1:1       @use
 *   src/scss/style.scss 3:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "responsive".\a   \2577 \a 7 \2502  \250c      @include responsive.max(300px){\a 8 \2502  \2502          display: none;\a 9 \2502  \2502      }  \a   \2502  \2514 \2500 \2500 \2500 \2500 \2500 ^\a   \2575 \a   src/scss/pages/home/_hero.scss 7:5   @forward\a   src/scss/pages/home/_index.scss 1:1  @forward\a   src/scss/pages/_index.scss 1:1       @use\a   src/scss/style.scss 3:1              root stylesheet';
}
