@use '../tools/responsive';

.container, .container-home {
    background-color: var(--color-dark);
}

.accent {
    color: var(--color-accent);
}

.section {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding-bottom: 100px;

    &__inner{
        grid-area: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
    }
}

// ABOUT

.about__content{
    max-width: var(--content-width-small);
    grid-area: 1 / 2 / 2 / 11;
    padding-top: 80px;

    p{
        font-size: var(--font-size-3);

        @include responsive.max(900px){
            font-size: var(--font-size-2);
        }

        @include responsive.max(600px){
            font-size: var(--font-size-1);
        }
    }

    @include responsive.max(400px){
        grid-area: 1 / 1 / 2 / 13;
    }
}

.button{
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: var(--color-medium);

    a{
        text-decoration: none;

        &:hover{
            color: var(--color-accent);
        }
    }
}

.wp-block-button.custom-button .wp-block-button__link:hover,
.wp-block-button.custom-button .wp-block-button__link:active,
.wp-block-button.custom-button .wp-block-button__link:focus {
	
	color: var(--color-accent) !important;
	
}


//GALLERY

.gallery {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    background-color: var(--color-medium);

    &__inner{

        grid-area: inner;


        .gallery__content {
            min-height: 100px;
            width: 100%;
            margin-top: 4rem;
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 4rem;
            grid-auto-rows:minmax(300px, 1fr) ;

            @include responsive.max(1090px){
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-auto-rows: minmax(250px, 1fr);
                gap: 3rem;
            }

            @include responsive.max(910px){
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: minmax(200px, 1fr);
                gap: 2rem;
            }

            @include responsive.max(725px){
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                grid-auto-rows: minmax(150px, 1fr);
                gap: 2rem;
            }

            @include responsive.max(391px){
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-auto-rows: minmax(100px, 1fr);
                gap: 1rem;
            }
        }

        .gallery__item {
            overflow: hidden;
        }

        .gallery__item--tall {
            grid-row: span 2; 
        }

        .gallery__item--big {
            grid-row: span 2;
            grid-column: span 2;

            @include responsive.max(725px){
                grid-row: span 1;
                grid-column: span 1;
            }
        }

        .gallery__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.5s;
            
        }
    }
}