@use '../tools/responsive';

.container, .container-home {
    background-color: var(--color-dark);
}

.accent {
    color: var(--color-accent);
}

.section {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding-bottom: 100px;

    &__inner{
        grid-area: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
    }
}

// ABOUT

.about__content{
    max-width: var(--content-width-small);
    grid-area: 1 / 2 / 2 / 11;
    padding-top: 80px;

    p{
        font-size: var(--font-size-3);

        @include responsive.max(900px){
            font-size: var(--font-size-2);
        }

        @include responsive.max(600px){
            font-size: var(--font-size-1);
        }
    }

    @include responsive.max(400px){
        grid-area: 1 / 1 / 2 / 13;
    }
}

.button{
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: var(--color-medium);

    a{
        text-decoration: none;

        &:hover{
            color: var(--color-accent);
        }
    }
}

.wp-block-button.custom-button .wp-block-button__link:hover,
.wp-block-button.custom-button .wp-block-button__link:active,
.wp-block-button.custom-button .wp-block-button__link:focus {
	
	color: var(--color-accent) !important;
	
}